# =========================
# GODOT 4
# =========================

# Editor cache (NO versionar nunca)
.godot/

# Import metadata
.import/

# Export config generada
.export/
export.cfg
export_presets.cfg

# Godot editor temp files
*.translation
*.tmp
*.log

# =========================
# BUILD / EXPORTS
# =========================

# Ejecutables
*.exe
*.apk
*.aab
*.x86_64
*.pck
*.zip

# =========================
# ADDONS LOCALES (IMPORTANTE)
# =========================

# Si el plugin godot-git es solo tuyo local
client/fish-clicks-main/addons/godot-git-plugin/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# SISTEMA
# =========================

.DS_Store
Thumbs.db